<div>
    <h1>Klassenleiter nicht gefunden: <%= @student_name %> aus der Klasse <%= @student_class %> </h1>

    Die E-Mail-Adresse des Klassenleiters konnte nicht gefunden werden. Sie erhalten die E-Mail in seinem Namen bitte leiten Sie sie weiter und informieren den Admin.

</div>
