<div>
    <h1>Verstoß gegen die Handy-Ordnung</h1>
    <p>
        Liebe Eltern,
    </p>

    <p>
        wir schreiben Ihnen heute, da Ihre Tochter bzw. Ihr Sohn, <%= @student_name %>, <%= @student_class %>, gegen die seit diesem Schuljahr geltende Handy-Ordnung verstoßen hat.
    </p>

    <p>
        Wir bitten Sie mit Ihrem Kind zu besprechen, warum diese Regeln gelten und ihm deutlich zu machen, dass sie einen pädagogischen Zweck erfüllen.
    </p>

    <p>
        Die geltende Regelung finden Sie unter Punkt 3 <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/Hausordnung-Gymnasium_CJDRostock.pdf">der Hausordnung</a>.
    </p>

    <p>
        Wir weisen Sie außerdem darauf hin, dass bei einem erneuten Verstoß im gleichen Schulhalbjahr, Sie und Ihr Kind zu einem Gespräch mit dem/der Klassenleiter/in eingeladen werden.
    </p>

    <p>
        Mit freundlichen Grüßen <br/>
        Die CJD Christophorusschule Rostock
    </p>

    <small><i>Hinweis: Antworten auf diese E-Mail gehen automatisch an den/die Klassenleiter/in Ihres Kindes.</i></small>
    </p>
</div>
