<div>
    <h1>Erster Verstoß gegen die Handy-Ordnung: <%= @student_name %></h1>

    <p>
        Liebe Klassenleiterin, Lieber Klassenleiter,
    </p>

    <p>
        leider müssen wir Ihnen mitteilen, dass <%= @student_name %>, <%= @student_class %>, soeben gegen die Handy-Ordnung verstoßen hat.
    </p>

    <p>
        Ihre/seine Eltern wurden via E-Mail benachrichtigt und zu einem klärenden Gespräch mit Ihrem Kind aufgefordert.
    </p>

    <p>
      Der Schüler wurde von Herr/Frau <%= @reporter_name %> gemeldet.
    </p>

    <p>
        Die geltende Handy-Ordnung finden Sie unter Punkt 3 <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/Hausordnung-Gymnasium_CJDRostock.pdf">der Hausordnung</a>.
    </p>

    <p>
        Mit freundlichen Grüßen <br/>
        Die CJD Christophorusschule Rostock
    </p>

    <small><i>Hinweis: Antworten auf diese E-Mail gehen automatisch an die Eltern von <%= @student_name %>.
    </i></small>
</div>
