<div>
    <h1><%= @times %>. Verstoß gegen die Handy-Ordnung</h1>
    <p>
        Liebe Eltern,
    </p>

    <p>
        wir müssen Sie leider darüber informieren, dass Ihr Kind, <%= @student_name %>, <%= @student_class %>, heute das <%= @times %>. Mal gegen die Handy-Ordnung verstoßen.
    </p>

    <p>
        Die geltende Handy-Ordnung finden Sie unter Punkt 3 <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/Hausordnung-Gymnasium_CJDRostock.pdf">der Hausordnung</a>. Gemäß dieser obliegt es nun dem/der Klassenleiter/in die <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/DisziplinarordnungCJDRostock.pdf">Disziplinarordnung</a> anzuwenden.
    </p>

    <p>
        Wir weisen Sie außerdem darauf hin, dass bei einem erneuten Verstoß im gleichen Schulhalbjahr, Sie und Ihr Kind zu einem Gespräch mit dem/der Klassenleiter/in eingeladen werden.
    </p>

    <p>
        Mit freundlichen Grüßen <br/>
        Die CJD Christophorusschule Rostock
    </p>

    <small><i>Hinweis: Antworten auf diese E-Mail gehen automatisch an den/die Klassenleiter/in Ihres Kindes.</i></small>
    </p>
</div>
