<div>
    <h1><%= @student_name %>: <%= @times %>. Verstoß gegen die Handy-Ordnung</h1>

    <p>
        Liebe Klassenleiterin, Lieber Klassenleiter,
    </p>

    <p>
        wir müssen Sie heute leider darüber informieren, dass <%= @student_name %>, <%= @student_class %>, heute das <%= @times %>. Mal gegen die geltende Handy-Ordnung verstoßen hat. Bitte ziehen Sie entsprechende Konsequenzen gemäß der <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/DisziplinarordnungCJDRostock.pdf">Disziplinarordnung</a>.
    </p>

    <p>
        Seine/ihre Eltern wurden über den Vorfall via E-Mail informiert.
    </p>

    <p>
      Der Schüler wurde von Herr/Frau <%= @reporter_name %> gemeldet.
    </p>

    <p>
        Die geltende Regelung finden Sie unter Punkt 3 <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/Hausordnung-Gymnasium_CJDRostock.pdf">der Hausordnung</a>.
    </p>

    <p>
        Mit freundlichen Grüßen <br/>
        Die CJD Christophorusschule Rostock
    </p>

    <small><i>Hinweis: Antworten auf diese E-Mail gehen automatisch an die Eltern von <%= @student_name %>.
</div>
