<div>
    <h1>Erneuter Verstoß gegen die Handy-Ordnung: <%= @student_name %></h1>

    <p>
        Liebe Klassenleiterin, Lieber Klassenleiter,
    </p>

    <p>
        wir müssen Sie heute leider darüber informieren, dass <%= @student_name %>, <%= @student_class %>, heute das zweite Mal gegen die geltende Handy-Ordnung verstoßen hat.
    </p>

    <p>
        Die Konsequenz für diesen Verstoß ist gemäß der Hausordnung ein Gespräch zwischen Eltern, Kind und Ihnen. Die Eltern wurden bereits benachrichtigt. Bitte treten Sie an sie zeitnah mit einem Terminvorschlag heran.
    </p>

    <p>
        Zweck des Gespräches soll sein, die Handy-Ordnung, deren Zweck, sowie die weiteren Konsequenzen bei einem erneuten Verstoß zu erläutern.
    </p>

    <p>
        Folgende Ansätze wurden im Rahmen der Handy-Ordnung erarbeitet und können im Gespräch genutzt werden:
    </p>

    <ul>
        <li>Werden noch erarbeitet</li>
    </ul>

    <p>
      Der Schüler wurde von Herr/Frau <%= @reporter_name %> gemeldet.
    </p>

    <p>
        Die geltende Regelung finden Sie unter Punkt 3 <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/Hausordnung-Gymnasium_CJDRostock.pdf">der Hausordnung</a>.
    </p>

    <p>
        Mit freundlichen Grüßen <br/>
        Die CJD Christophorusschule Rostock
    </p>

    <small><i>Hinweis: Antworten auf diese E-Mail gehen automatisch an die Eltern von <%= @student_name %>.
</div>
