<div>
    <h1>Erneuter Verstoß gegen die Handy-Ordnung</h1>

    <p>
        Liebe Eltern,
    </p>

    <p>
        unerfreulicherweise müssen wir Ihnen mitteilen, dass heute Ihr Kind, <%= @student_name %>, <%= @student_class %>, das zweite mal gegen die geltende Handy-Ordnung verstoßen hat.
    </p>

    <p>
        Daher laden wir Sie und Ihr Kind zu einem Eltern-Kind-Gespräch mit dem/r Klassenleiter/in ein. Diese/r wurde benachrichtigt und wird zeitnah mit einem Terminvorschlag an Sie herantreten. In diesem Gespräch soll die Regelung, ihr Zweck und die Konsequenzen bei weiteren Verstößen besprochen werden.
    </p>

    <p>
        Die geltende Regelung finden Sie unter Punkt 3 <a href="https://sv.cjd-rostock.de/infos/dokumente/allgemein/Hausordnung-Gymnasium_CJDRostock.pdf">der Hausordnung</a>.
    </p>
    <p>
        Mit freundlichen Grüßen <br/>
        Die CJD Christophorusschule Rostock
    </p>

    <small><i>Hinweis: Antworten auf diese E-Mail gehen automatisch an den/die Klassenleiter/in Ihres Kindes.</i></small>
    </p>
</div>
