<html>
    <head>
        <title>
            <%= @email.subject %>
        </title>
        <style>
         body {
             font-family: San Francisco, Roboto, sans-serif;
         }
        </style>
    </head>
    <body>
        <%= render @view_module, @view_template, assigns %>
    </body>
</html>
